<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Let's add a new task</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="taskForm" (ngSubmit)="addTask()">
      <div class="form-group">
        <label for="exampleFormControlInput1">Title</label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Buy some fruits!"
          formControlName="title"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Desciption</label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          formControlName="description"
        ></textarea>
      </div>
      <button
        type="submit"
        class="btn btn-outline-dark mt-4"
        (click)="modal.close('Save click')"
      >
        Add Task
      </button>
    </form>
  </div>
</ng-template>

<button
  class="new-task-button btn btn-outline-primary mt-5"
  (click)="open(content)"
>
  New Task
</button>
