<div [ngClass]="['task-box', bgStyle]" *ngFor="let item of tasks" cdkDrag>
  <div class="task-control-button">
    <app-edit-task-form
      [task]="item"
      *ngIf="taskStatus !== 'DONE'"
      (updateTaskEvent)="updateTask($event)"
    ></app-edit-task-form>
    <mat-icon (click)="deleteTask($event, item)">delete</mat-icon>
  </div>
  <div>
    <h6>{{ item.title }}</h6>
    <div>Created At: {{item.createdAt.toDateString()}}</div>
    <div *ngIf="taskStatus === 'DONE'">Completed At: {{item.completedAt.toDateString()}}</div>
    <p>{{ item.description }}</p>
  </div>
</div>
