<div [ngClass]="['task-box', bgStyle[item.priority]]" *ngFor="let item of tasks" cdkDrag>
  <div class="task-control-button">
    <app-edit-task-form
      [task]="item"
      *ngIf="taskStatus !== 'DONE'"
      (updateTaskEvent)="updateTask($event)"
    ></app-edit-task-form>
    <mat-icon (click)="deleteTask($event, item)">delete</mat-icon>
  </div>
  <div class="d-flex flex-column">
    <h6>{{ item.title }}</h6>
    <div class="">
      <span class="fw-bold">Created At:</span>
      <span>{{ item.createdAt.toDateString() }}</span>
    </div>
    <div *ngIf="taskStatus === 'DONE'" class="mb-1">
      <span class="fw-bold">Completed At:</span>
      <span>{{ item.completedAt.toDateString() }}</span>
    </div>
    <div class="mb-2">
      <span class="fw-bold">Priority:</span>
      <span>{{ item.priority }}</span>
    </div>
    <p>{{ item.description }}</p>
  </div>
</div>
