<div [ngClass]="['task-box', bgStyle]" *ngFor="let item of tasks" cdkDrag>
  <div class="task-control-button">
    <app-edit-task-form
      [task]="item"
      *ngIf="taskStatus !== 'DONE'"
      (updateTaskEvent)="updateTask($event)"
    ></app-edit-task-form>
    <mat-icon (click)="deleteTask($event, item)">delete</mat-icon>
  </div>
  <div>
    <h6>{{ item.title }}</h6>
    <div>
      <span class="fw-bold">Created At:</span>
      <span>{{ item.createdAt.toDateString() }}</span>
    </div>
    <div *ngIf="taskStatus === 'DONE'">
      <span class="fw-bold">Completed At:</span>
      <span>{{ item.completedAt.toDateString() }}</span>
    </div>
    <p>{{ item.description }}</p>
  </div>
</div>
