<section class="todo-section">
  <div class="heading row">
    <h3 class="col-10 d-inline text-primary">My Task Tracker</h3>
    <app-new-task-form
      class="col-2"
      (newTaskEvent)="addTask($event)"
    ></app-new-task-form>
  </div>
  <hr class="border border-primary border-2 opacity-75" />
  <div class="row">
    <div class="task-container col">
      <h4 class="text-primary">To do</h4>

      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList, doingList]"
        class="task-list"
        (cdkDropListDropped)="onDrop($event)"
      >
        <app-task-card
          [tasks]="todo"
          (deleteTaskEvent)="deleteTask($event)"
          (updateTaskEvent)="updateTask($event)"
          [taskStatus]="'NEW'"
        ></app-task-card>
      </div>
    </div>

    <div class="task-container col">
      <h4 class="text-danger">Doing</h4>
      <div
        cdkDropList
        #doingList="cdkDropList"
        [cdkDropListData]="doing"
        [cdkDropListConnectedTo]="[doneList]"
        class="task-list"
        (cdkDropListDropped)="onDrop($event)"
      >
        <app-task-card
          [tasks]="doing"
          (deleteTaskEvent)="deleteTask($event)"
          (updateTaskEvent)="updateTask($event)"
          [taskStatus]="'DOING'"
        ></app-task-card>
      </div>
    </div>

    <div class="task-container col">
      <h4 class="text-success">Done</h4>

      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[]"
        class="task-list"
        (cdkDropListDropped)="onDrop($event)"
      >
        <app-task-card
          [tasks]="done"
          (deleteTaskEvent)="deleteTask($event)"
          (updateTaskEvent)="updateTask($event)"
          [taskStatus]="'DONE'"
        ></app-task-card>
      </div>
    </div>
  </div>
  <mat-icon
    aria-hidden="false"
    aria-label="Example home icon"
    fontIcon="home"
  ></mat-icon>
</section>
